.App {
  text-align: center;
  padding: 1%;
  background-color: whitesmoke;
}

nav {
  background-color: #e3f4e5;
  color: grayscale;
  margin-bottom: 1%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row:hover {
  background-color: #c5c8c5;
}
